<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Input</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="background"></div> <!-- Background image -->

    <div class="top-left">
        <button onclick="location.href='{{url_for('admin_login')}}'">Back</button>
    </div>
    <div class="container">
        <h2>Enter OTP</h2>
        <form action="/admin/forgot/validateotp" method="POST">
            <label for="otp">OTP:</label>
            <input type="number" id="otp" name="otp" pattern="^\d{6}$" required>
            <button type="submit">Validate OTP</button>
        </form>
                    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    </div>
</body>
</html>
